<ion-header>

  <ion-navbar>
    <ion-title>Edit profile {{currentUser.userName}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-item text-center no-padding>
 Change profile picture
  </ion-item>
  <ion-item text-center no-padding>
   
    <ion-grid no-padding>
      <ion-row>
        <ion-col width-50 (click)="takePicture()">
          <ion-icon *ngIf="!base64Image" class="icons" name="camera"></ion-icon>
          <ion-icon *ngIf="base64Image" class="smaller-icons" name="camera"></ion-icon>
        </ion-col>
        <ion-col width-50 (click)="selectFromGallery()">
          <ion-icon *ngIf="!base64Image" class="icons" name="photos"></ion-icon>
          <ion-icon *ngIf="base64Image" class="smaller-icons" name="camera"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
     
      <img [src]="base64Image" *ngIf="base64Image"/>
  
    <button *ngIf="base64Image" ion-button block outline (click)="changeProfilePicture()">
        Change profile picture
    </button>

  
</ion-content>
