<ion-header>

  <ion-navbar>
    
    <ion-searchbar [(ngModel)]="searchQuery" (ionInput)="commenceSearch($event)" autofocus clearInput></ion-searchbar>
   


  </ion-navbar>
    <ion-segment [(ngModel)]="search">

    <ion-segment-button value="people">
      
      
     People
       
     
    </ion-segment-button>
    <ion-segment-button value="tags">

    Tags

    </ion-segment-button>
  </ion-segment>

</ion-header>


<ion-content no-padding>


  <div [ngSwitch]="search">
  
  <ion-list *ngSwitchCase="'people'">
      
      <div *ngIf="usersByUserName" >
        <div *ngFor="let userByUserName of usersByUserName">
        
          <ion-item no-lines (click)="loadUser(userByUserName)">
            
            <ion-avatar item-left><img [src]="userByUserName.profilePictureUrl"></ion-avatar>
            <h2 color="grey">{{userByUserName.userName}} </h2>
          
          </ion-item>

        </div>
      </div>

  </ion-list>

    <ion-list *ngSwitchDefault>
      
      <div *ngIf="usersByUserName" >
        <div *ngFor="let userByUserName of usersByUserName">
        
          <ion-item no-lines (click)="loadUser(userByUserName)">
            
            <ion-avatar item-left><img [src]="userByUserName.profilePictureUrl"></ion-avatar>
            <h2 color="grey">{{userByUserName.userName}} </h2>
          
          </ion-item>

        </div>
      </div>

  </ion-list>

  <ion-grid no-padding *ngSwitchCase="'tags'">
  

     
  <ion-row wrap *ngIf="postsByTag">

    <ion-col *ngFor="let postByTag of postsByTag" width-33 no-padding>
      <img [src]="postByTag.imageUrl"  (click)="loadPost(postByTag)"/>
    </ion-col>


  </ion-row>

</ion-grid>
  </div>


</ion-content>
