

     
     <div no-padding *ngFor="let post of posts; let index = index">
     
        
        <ion-item padding-left >
          <ion-avatar item-left>
            <img [src]="profilePictureUrl">
          </ion-avatar>
          <h2 color="grey">{{userName}}</h2>
          <ion-icon item-right name="menu"></ion-icon>
        </ion-item>
                
         

         <img [src]="post.imageUrl" />
     
      <ion-item class="remove-margin" no-lines no-padding>
      
       
        
        <ion-icon padding-left name="heart" color="danger"  (click)="unlikePost(currentUserName, post)" *ngIf="post.likes.indexOf(currentUserName) >= 0" ></ion-icon>
        <ion-icon padding-left name="heart"  (click)="likePost(currentUserName, post)" *ngIf="post.likes.indexOf(currentUserName) < 0" ></ion-icon>
   
       
        <ion-icon padding-left name="text"></ion-icon>
       
     
      </ion-item>
      
      <hr>
    
      <ion-item class="details" no-lines padding-left>


      <ion-icon class="small-icon" name="heart"> </ion-icon><span *ngFor="let like of post.likes"> {{like}}</span>

      <span style="font-weight: bold;">{{userName}} </span> {{post.caption}}
      <p (click)="openComments(post)" color="grey" style="padding: 0px; font-size: 0.8em">View all {{commentCount}} comments</p>
      <p text-uppercase color="grey" style="padding: 0px; font-size: 0.8em">{{postTime}} ago</p>

      </ion-item>
     </div>
