

     
     <div no-padding *ngFor="let post of posts; let index = index">
     
        
        <ion-item padding-left >
          <ion-avatar item-left>
            <img [src]="post.userProfilePictureUrl">
          </ion-avatar>
          <h2 color="grey">{{post.userName}}</h2>
          <ion-icon item-right name="menu"></ion-icon>
        </ion-item>
                
         

         <img [src]="post.imageUrl" />
     
      <ion-item class="remove-margin" no-lines no-padding>
      
       
  
        <ion-icon padding-left name="heart" color="danger"  (click)="unlikePost(post)" 
                  *ngIf="this.liked"></ion-icon>
        <ion-icon padding-left name="heart"  (click)="likePost(post)" 
                   *ngIf="!this.liked" ></ion-icon>
   
        
        <ion-icon padding-left name="text" (click)="openComments(post)"></ion-icon>
       
     
      </ion-item>
      
      <hr>
    
      <ion-item class="details" no-lines padding-left>


      <ion-icon class="small-icon" name="heart"> </ion-icon><span *ngFor="let like of post.likes"> {{like.userName}}</span> 

      <span style="font-weight: bold;">{{post.userName}} </span> {{post.caption}}
      <p><a *ngFor="let tag of post.tags" (click)="openSearch()">#{{tag}} </a></p>
      <p (click)="openComments(post)" color="grey" style="padding: 0px; font-size: 0.8em">View all {{post.comments.length}} comments</p>     
      </ion-item>
      <ion-item padding-left ion-text  style="padding: 0px; font-size: 0.7em">
        <ion-datetime item-right ion-text color="grey" displayFormat="MMM DD, YYYY HH:mm" [(ngModel)]="post.postTime"></ion-datetime>
     
      </ion-item>
     </div>
