page-feed-content {
.details {
    font-size: 0.95em;
}
.small-icon {
    font-size: 0.8em;
}
.icons {
    font-size: 1.6em;
}
.remove-margin {
    margin: 0px !important;
}
hr {
    margin: 0px !important;
}
}
