<ion-header>

  <ion-navbar>
  
   

      <ion-title text-center>Willegram</ion-title>
       <ion-buttons end>
            <button ion-button icon-only clear large item-right><ion-icon item-left name="camera"></ion-icon></button>
       </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content>

 <div no-padding>
     
<ion-item padding-left (click)="loadUser(post)" >
          <ion-avatar item-left>
            <img [src]="post.userProfilePictureUrl">
          </ion-avatar>
         
          <h2 ion-text color="grey">{{post.userName}}</h2>
          <ion-icon item-right name="menu"></ion-icon>
        </ion-item>
                
         

         <img [src]="post.imageUrl" />
     

   




  <ion-grid no-padding class="icons" *ngIf="newCurrentUser">
       <ion-row text-center>

         <ion-col width-50> <ion-icon padding-left name="heart" color="danger"  (click)="unlikePost(post)" 
                  *ngIf="post.likes.indexOf(newCurrentUser.userName) >= 0"></ion-icon>
        <ion-icon padding-left name="heart"  (click)="likePost(post)" 
                   *ngIf="post.likes.indexOf(newCurrentUser.userName) <0" ></ion-icon></ion-col>

         <ion-col width-50>  <ion-icon padding-left name="text" (click)="openComments(post)"></ion-icon></ion-col>

       </ion-row>
       
  </ion-grid>
        
      
        
     
      
      <hr no-padding>
    
      <ion-item class="details" no-lines padding-left>


      <ion-icon  *ngIf="post.likes.length > 0" small class="small-icon" name="heart"> </ion-icon>
      
      <span *ngIf="post.likes.length > 10"> {{post.likes.length}} likes</span>
      <span *ngIf="post.likes.length < 10 && post.likes.length > 0"><span *ngFor="let like of post.likes"> {{like}}</span></span>


      <span style="font-weight: bold;">{{post.userName}} </span> {{post.caption}}
      <p *ngIf="post.tags.length > 0 && post.tags[0] != ''"><a *ngFor="let tag of post.tags" (click)="openSearch(tag)">#{{tag}} </a></p>
      <p *ngIf="post.comments.length > 0" (click)="openComments(post)" ion-text color="grey" style="padding: 0px; font-size: 0.8em">View all {{post.comments.length}} comments</p>     
      </ion-item>
      
      <ion-item no-padding no-lines>
          <ion-datetime padding-left ion-text color="grey" style="padding-top: 0px; font-size: 0.7em" displayFormat="MMM DD, YYYY HH:mm" [(ngModel)]="post.postTime"></ion-datetime>
      </ion-item>
     </div>

</ion-content>