
<ion-header>

  <ion-navbar>
    <ion-title *ngIf="currentUser" >Comments {{currentUser.userName}}</ion-title>
  </ion-navbar>

</ion-header>



<ion-content>

  <ion-list>

    <ion-item text-wrap>

      <span style="font-weight: bold;">{{post.userName}} </span> {{post.caption}}
<ion-avatar item-left><img [src]="post.userProfilePictureUrl"></ion-avatar>

</ion-item>

<ion-item style="font-size: 0.8em" *ngFor="let comment of post.comments">

<span style="font-weight: bold">{{comment.user}}</span> {{comment.comment}}
<ion-icon item-right name="heart-outline"></ion-icon>
<br>
<div color="grey">
  <span>14h</span>
  <span color="grey" style="padding-left: 10px; font-weight: bold">Reply</span>
</div>
<ion-avatar item-left>
  <img [src]="comment.userProfilePictureUrl">
</ion-avatar>
</ion-item>




</ion-list>


</ion-content>
<ion-footer>

  <ion-item no-lines>
    <ion-input placeholder="Write a comment..." [(ngModel)]="comment"></ion-input>
    <button (click)="addComment(comment)" ion-button item-right clear>POST</button>
  </ion-item>
</ion-footer>