<ion-header>

  <ion-navbar>
    <ion-title *ngIf="currentUser" >Publish {{currentUser.userName}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content no-padding>

  <ion-item text-center no-padding>
    <ion-grid no-padding>
      <ion-row>
        <ion-col width-50 (click)="takePicture()">
          <ion-icon *ngIf="!base64Image" class="icons" name="camera"></ion-icon>
          <ion-icon *ngIf="base64Image" class="smaller-icons" name="camera"></ion-icon>
        </ion-col>
        <ion-col width-50 (click)="selectFromGallery()">
          <ion-icon *ngIf="!base64Image" class="icons" name="photos"></ion-icon>
          <ion-icon *ngIf="base64Image" class="smaller-icons" name="camera"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item padding-right>

    <ion-thumbnail *ngIf="base64Image" item-left>
      <img [src]="base64Image"/>
    </ion-thumbnail>
    
    <ion-textarea  #newPost style="font-size: 0.8em;" type="text" placeholder="Write a caption..." value=""> </ion-textarea>
   
   
  </ion-item>
  <ion-item padding-right>
  <ion-input  #newTags style="font-size: 0.8em;" type="text" placeholder="Tag post, separate tags with space" value=""> </ion-input>
   <button ion-button item-right large clear (click)="addPost(newPost.value, newTags.value); newPost.value=''; newTags.value=''"><ion-icon color="" name="send"></ion-icon></button>
  </ion-item>
  
  
</ion-content>
